
$Scissors-grardient: hsl(39, 62%, 38%);
$Paper-grardient: hsl(155, 89%, 62%);
$Rock-grardient: hsl(155, 10%, 62%);

//text

$Dark-text: hsl(229,25%,31%);
$Score-text: hsl(160,25%,20%);
$Header-text: hsl(229,25%,31%);

//background

$background-gradient: radial-gradient(circle, hsl(15,10,100),
 hsl(240,40%,10)
);

